.container {
    max-width: 1320px;
    margin: auto;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

*[class*="col-"] {
    padding: 0px 12px;
}

#header {
    height: 70px;
    transition: all 0.5s;
    z-index: 997;
    background: #000;
}

#header {
    display: block;
    unicode-bidi: isolate;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#header .logo h1 {
    letter-spacing: 2px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}


.active:before {
    visibility: visible;
    width: 100%;
}
.navbar.ul.li.a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 3px;
    left: 0;
    background-color: #1bac91;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

a {
    color: #1bac91;
    text-decoration: none;
}


.section-bg {
    background-color: #f2f9f8;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 40px;
    text-align: center;
}

.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid #fff;
}

.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #111;
}

a {
    color: #1bac91;
    text-decoration: none;
}

.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.bxl-dribbble:before {
    content: "\e929";
}

*,
::after,
::before {
    box-sizing: border-box;
}

.services .icon-box-pink .icon i {
    color: #ff689b;
}

.services .icon i {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 15px;
}

.services .icon-box-cyan .icon i {
    color: #3fcdc7;
}

.services .icon-box-green .icon i {
    color: #41cf2e;
}

.services .icon-box-blue .icon i {
    color: #2282ff;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

i {
    font-style: italic;
}


#hero {
    background-attachment: fixed;
}

#hero {
    width: 100%;
    height: calc(100vh - 70px);
    background: url('https://bootstrapmade.com/demo/templates/Maxim/assets/img/hero-bg.jpg') center center;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    padding: 0;
}

#hero .container {
    z-index: 2;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 35px;

}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;

}

#hero .btn-get-started:hover {
    background-color: #1bac91;
    border: 2px solid #1bac91;
    color: #fff;
}

a {
    text-decoration: none;
}

main {
    display: block;
    unicode-bidi: isolate;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.about h3 {
    font-weight: 400;
    font-size: 34px;
    color: #21413c;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

html:not(.no-js) [data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

html:not(.no-js) [data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}

html:not(.no-js) [data-aos=fade-up] {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
}

[data-aos][data-aos][data-aos-easing=ease-in-out],
body[data-aos-easing=ease-in-out] [data-aos] {
    transition-timing-function: ease-in-out;
}

[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s;
}

.about .icon-box {
    margin-top: 44px;
}

[data-aos].aos-animate {
    pointer-events: auto;
}

[data-aos] {
    pointer-events: none;
}

.about .icon-box h4 {
    font-size: 22px;
    font-weight: 500;
    margin-left: 60px;
    color: #21413c;
}

.about .icon-box p {
    font-size: 15px;
    color: #848484;
    margin-left: 60px;
}

.about .icon-box i {
    font-size: 48px;
    float: left;
    color: #1bac91;
}

.bx-receipt:before {
    content: "\ebd5";
}

.section-bg {
    background-color: #f2f9f8;
}

.section-bg {
    background-color: #f2f9f8;
}

.steps .row {
    overflow: hidden;
}

.steps .content-item {
    padding: 40px;
    border-left: 1px solid #d4e9e6;
    border-bottom: 1px solid #d4e9e6;
    margin: -1px;
}

.steps .content-item span {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #1bac91;
}

.steps .content-item h4 {
    font-size: 28px;
    font-weight: 400;
    padding: 0;
    margin: 20px 0;
    color: #21413c;
}

.steps .content-item p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.features .nav-tabs {
    border: 0;
}

.flex-column {
    flex-direction: column !important;
}

.features .nav-link.active {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.features .nav-link {
    border: 0;
    padding: 20px;
    transition: 0.3s;
    color: #21413c;
}

.features .nav-link.active h4 {
    color: #1bac91;
}

.features .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
}

.features .nav-link:hover {
    color: #1bac91;
   text-decoration: none;
}

a:hover {
    color: #22d8b6;
    text-decoration: none;
}

.nav-tabs .nav-link {
    margin-bottom: calc(-1* var(--bs-nav-tabs-border-width));
    border: var(--bs-nav-tabs-border-width) solid transparent;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

a {
    color: #1bac91;
    text-decoration: none;
}

a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #21413c;
}

.section-title p {
    margin-bottom: 0;
}

.swiper-horizontal {
    touch-action: pan-y;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.swiper-horizontal {
    touch-action: pan-y;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    min-height: 320px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: #eff7f6;
    position: relative;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #a8d3cc;
    font-size: 26px;
}

.section-title p {
    margin-bottom: 0;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px solid #fff;
}

img,
svg {
    vertical-align: middle;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 45px;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 0 45px;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;

}


.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;

}

[role=button] {
    cursor: pointer;
}

.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
    background-color: #1bac91;
    

}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}
.section-title h2 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #21413c;
}
.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 8px 20px;
}
.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #1bac91;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}
.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}
img, svg {
    vertical-align: middle;
}
.portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio .portfolio-wrap .portfolio-info::after {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 35px;
    right: 35px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::before {
    display: block;
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: 35px;
    left: 35px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 0.5s ease 0s;
    z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}
.portfolio-container {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 68rem;
  width: 100%;

}
 



